/* ------------------------------
   Global Reset
------------------------------ */
/* ------------------------------
   Wrapper
------------------------------ */

/* 整頁垂直置中背景 */
.register-page {
  min-height: 100vh;         /* 讓高度至少等於滿版，不會擠 */
  display: flex;
  justify-content: center;   /* 水平置中 */
  align-items: center;       /* 垂直置中 */
  background: var(--bg-soft);
  padding: 40px 0;           /* 保留上下空間避免太貼邊 */
}

.register-wrapper {
  width: 420px;
  padding: 50px 40px;
  border-radius: 30px;
  border: 1px solid var(--border);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  transition: 0.2s ease-in-out;
  background: var(--card);     /* ⭐ 用變數 */
  color: var(--text);          /* ⭐ 用變數 */
}


.register-wrapper:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.register-wrapper h2 {
  margin-bottom: 20px;
  font-weight: 750;
  color: var(--text);

}

/* ------------------------------
   Input Box
------------------------------ */
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px;
  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: rgba(255, 117, 18, 0.854);
  box-shadow: 0 0 8px rgba(226, 94, 0, 0.87);
}

.input-box .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

/* 顯示/隱藏密碼按鈕 */
.show-password-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  color: #666;
}

/* ------------------------------
   Button
------------------------------ */
.btn {
  width: 100%;
  padding: 12px;
  background: var(--orange);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 750;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(226, 94, 0);
}

/* ------------------------------
   已有帳號連結
------------------------------ */
.login-register {
  margin-top: 20px;
  font-size: 14px;
}

.login-register a {
  margin-left: 5px;
  color: rgb(71, 142, 212);
  text-decoration: none;
  font-weight: bold;
}
/* -----------------------------
   Responsive
------------------------------*/
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }

  header {
    padding: 16px 20px;
  }
}